<ion-footer class="app-tabs">
  <ion-buttons>
    <button ion-button clear (click)="goToPantry()">
      <img src="assets/icon/pantrypal/pantry.svg" alt="Pantry" height="25" />
      Pantry
    </button>

    <button ion-button icon-only round (click)="addNewItemToThePantry()">
      <ion-icon name="add"></ion-icon>
    </button>

    <button ion-button clear (click)="goToRecipes()">
      <img src="assets/icon/pantrypal/recipes.svg" alt="Recipes" height="25" />
      Recipes
    </button>
  </ion-buttons>
</ion-footer>
